@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Data-Driven Websites</h1>
    <p> Productive Development with Entity Framework</p>
</div>
<h4>Professional Proccess:</h4>
<div class="alert alert-danger">
    1.) Make a new branch
</div>
<div class="alert alert-warning">
    2.) Pick an issue to work on
</div>
<div class="alert alert-secondary">
    3.) Fix or Implement an issue
</div>
<div class="alert alert-info">
    4.) Pull Request
</div>
<div class="alert alert-success">
    5.) Merge back into the main branch
</div>